{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Modification de votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/profil.css") }}">
{% endblock %}

{% block h1 %}Modification de votre profil{% endblock %}

{% block body %}


    <div class="row justify-content-end">
        <a class='btn btn-info p-2 col-md-3' href="{{ path('profil') }}">Retour</a>
    </div>


    <div class="col-md-4 mx-auto">

        {{ form_start(formUser) }}

            {{ form_row(formUser.email) }}

            {{ form_row(formUser.nom) }}

            {{ form_row(formUser.prenom) }}


            <input type="submit" class="btn btn-warning col-md-12 mt-3" value="Modifier"> 

        {{ form_end(formUser) }}

    </div>




{% endblock %}

