{% extends 'base.html.twig' %} {# étendre le fichier base.html.twig #}

{% block title %} {{parent()}} | Gestion des catégories{% endblock %}


{% block h1 %}Gestion des catégories{% endblock %}


{% block body %}


    {% for notification in app.flashes('success') %}
            <div class="alert alert-success col-md-6 mx-auto text-center disparition">{{ notification }}</div>
    {% endfor %}



    {# <div class="row justify-content-end mr-1">
        <a class="btn btn-success col-md-3 mb-3" href="{{ path('category_ajouter') }}">Ajouter une catégorie</a>
    </div> #}
    <div class="row justify-content-end mr-1">
        <button type="button" class="btn btn-success col-md-3 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Ajouter une catégorie
        </button>
    </div>

    {% if categories %} 

            <table class="table table-white table-striped table-hover text-center">

                <thead class="bg-dark text-white">

                    <tr>
                        <th>ID catégorie</th>
                        <th>Nom</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                
                </thead>


                <tbody>

                    {% for categorie in categories %}

                        <tr>
                        
                            <td>{{ categorie.id }}</td>
                            <td>{{ categorie.nom }}</td>


                            <td>
                                <a href="{{ path('category_modifier' , {'id' : categorie.id } ) }}" >
                                    <img src="{{ asset('images/update.png') }}" alt="icône de modification">
                                </a>
                            </td>



                            <td>
                                <a href="{{ path('category_supprimer' , {"id" : categorie.id }  ) }}" onclick="return confirm('Confirmez-vous la suppression de la categorie ?')">
                                    <img src="{{ asset('images/delete.png') }}" alt="icône de suppression">
                                </a>
                            </td>
                        
                        </tr>

                    {% endfor %}


                
                </tbody>
            
            
            
            </table>
        

    {% else %}

        <h4 class="text-center mt-4 text-danger">Il n'y a aucune catégorie pour le moment</h4>
        
    {% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        {{ form_start(formCategory) }} 
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_row(formCategory.nom) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Ajouter</button>
            </div>
            </div>
            {{ form_end(formCategory) }} 
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/checker.js') }}"></script>
{% endblock %}
